.footercon{
    clear: both;
    margin: 0;
    padding: 0;
    box-shadow: 0px 0px 10px black;
    padding: 10px;
}
.rows{
    width: 100%;
}
.Copyright{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.address{
    font-weight: 500;
}
#links{
    text-decoration: none;
    color: black;
}
#links:hover{
    color: red;
}
.navlink:hover{
    text-decoration: none;
}